
<div class="container text-center">
  <div class="card-challenge">
    <div class="card-c-infos">
      <div class="card-c-details text-left">
        <p>Category: <%= @race.challenge.category %></p>
        <h1>Distance: <%= @race.challenge.distance / 100 %> km</h1>
      </div>
      <div class="card-c-bet">
        <h2><%= @race.challenge.bet %> €</h2>
      </div>
    </div>
  </div>

<div class="mt-5" id="find-opponents">
    <% if @race.runs.count == 2 %>
      <%= render 'races/opponents', runs_opponents: @runs_opponents, race: @race %>
    <% elsif @race.runs.count == 1 %>
      <%= render 'races/waiting', race: @race %>
    <% end %>
</div>

    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    App['race_<%= @race.id %>'] = App.cable.subscriptions.create(
      { channel: 'RacesChannel', race_id: <%= @race.id %> },
      { received: (data) => {
       var opponents = document.getElementById("find-opponents");
       console.log(data.race_partial);
       opponents.innerHTML = data.race_partial;  }
    })
  </script>
<% end %>
