<script src="/path/to/jquery.js"></script>
<script src="/path/to/countdown.js"></script>
<div class="container text-center">
  <div class="card-challenge">
    <div class="card-c-infos">
      <div class="card-c-details text-left">
        <p>Category: <%= @race.challenge.category %></p>
        <h1>Distance: <%= @race.challenge.distance / 100 %> km</h1>
      </div>
      <div class="card-c-bet">
        <h2><%= @race.challenge.bet %> €</h2>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <% if @race.runs.count == 2 %>
      <p>Your opponent is...</p>
      <% @runs.each do |run| %>
        <p><%= run.user.username %></p>

        <div class="avatar-opponents">
          <%= image_tag "default_avatar"%>
        </div>
      <% end %>
    <% elsif @race.runs.count == 1 %>
      <p>Waiting for an opponent...</p>
    <% end %>
  </div>

  <div class="my-5">
    <% if @race.pending? && @race.runs.count == 2 %>
      <h2 id="counter">15 s</h2>
      <h2> remaining until the start...</h2>
      <%= link_to "Launch the race (temporary)", race_path(@race), method: :patch, class: "btn-flat", id: "btn-launch-race" %>
    <% elsif @race.in_progress? %>
      <%= render 'races/started' %>
    <% elsif @race.finished? %>

        <%= render 'races/finished' %>

    <% end %>
  </div>

    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>
  </div>
</div>
