<script src="/path/to/jquery.js"></script>
<script src="/path/to/countdown.js"></script>
<div class="container text-center">
  <div class="card-challenge">
    <div class="card-c-infos">
      <div class="card-c-details text-left">
        <p>Category: <%= @race.challenge.category %></p>
        <h1>Distance: <%= @race.challenge.distance / 100 %> km</h1>
      </div>
      <div class="card-c-bet">
        <h2><%= @race.challenge.bet %> €</h2>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <p>Your opponent is...</p>
    <% @runs.each do |run| %>
    <p><%= run.user.username %></p>

   <div class="avatar-opponents">
      <%= image_tag "default_avatar"%>
    </div>
    <% end %>

    <div class="mt-5">

      <h2 id="counter">15 s</h2>
      <h2> remaining until the start...</h2>

    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
   </div>
 </div>



