<div class="banner">
  <div class="banner-content text-center">
    <div class="home-video-wrapper d-flex align-items-center justify-content-center">
      <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
      <div>
        <h1 class="home">Run2BeatMe</h1>
        <p class="home">run faster, win cash</p>
        <% if user_signed_in? %>
          <p>welcome, <%=current_user.name%></p>
          <%= link_to "Start Now", challenges_path, class: "btn-flat btn-home" %>
        <% else %>
          <%= link_to "Log In", user_session_path, class: "btn-flat btn-sign" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn-flat btn-sign btn_sign_left" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
