<div class="home_page">
  <div class="banner">
    <div class="banner-content text-center">
      <div class="home-video-wrapper d-flex align-items-center justify-content-center">
        <video src="video.mp4" autoplay = "autoplay" loop = "loop" mute = "mute" class = "home_video"></video>
        <div>
          <%= image_tag "logo4R2Bhome.png", width: 350, alt: "logo run2BeatMe" %>
          <div class="buttons-home">
            <% if user_signed_in? %>
              <p>welcome <%=current_user.username%></p>
              <%= link_to "Start Running", challenges_path, class: "btn-flat btn-home" %>
            <% else %>
              <%= link_to "Log In", user_session_path, class: "btn-flat btn-sign" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn-flat btn-sign btn_sign_left" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

