<div class="container">
  <h1>Your previous runs</h1>
  <% @runs.sort_by { |run| run.finished_at }.reverse!.each do |run| %>
  <div class="card-challenge">
    <div class="card-c-infos">
      <div class="card-c-details">
        <p>Run category: <%= run.race.challenge.category %></p>
        <h1>Run distance: <%= run.race.challenge.distance / 100 %> km</h1>
        <p><u>Run date:</u> <%= run.finished_at.to_formatted_s(:long_ordinal) %></p>
        <% opponent = run.race.users.select{ |user| user != current_user }.first %>
        <p><u>Opponent:</u> <%= opponent.username if opponent %></p>
      </div>
      <% if run.won? %>
        <div>
          <p class="text-center">you <%= run.state %></p>
          <div class="card-c-bet">
            <h2><%= run.race.challenge.bet %> <span class="fas fa-coins fa-sm"></span></h2>
          </div>
        </div>
      <% else %>
        <div>
          <p class="text-center">you <%= run.state %></p>
          <div class="card-c-bet lost">
            <h2><%= run.race.challenge.bet %> <span class="fas fa-coins fa-sm"></span></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
